<div class="header">
  <div class="title-bar">
    <div class="title-bar-logo-wrap">
      <a class="hamburger" data-open="offCanvasLeft"><i class="fa fa-bars"></i></a>
      <div class="header-title">Michael Mai</div>
    </div>
    <div class="title-bar-icons">
      <a class="home" href="/">
        <span>Home</span><i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a class="about" href="/about">
        <span>About</span><i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </a>
      <a class="contact" href="/contact">
        <span>Contact</span><i class="fa fa-phone" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
