<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    {{> scripts}}
  </head>
  <body>
    <div class="off-canvas-wrapper">
      {{> header}}
      {{> leftNav}}
      <div class="off-canvas-content" data-off-canvas-content>
        <section class="wrapper">
          {{{body}}}
        </section>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
