.footer {
  background: black;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  font-weight: bold;
  min-height: rem-calc(50);
  .weathers {
    display: flex;
    .weather {
      flex: 1;
    }
  }
}
