.footer {
  background: black;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  min-height: rem-calc(50);
  .weathers {
    display: flex;
    .weather {
      flex: 1;
    }
    .fa-arrow-left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem-calc(5);
    }
    .fa-arrow-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem-calc(5);
    }
  }
}
