.footer {
  background: black;
  height: 50px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  font-weight: bold;
}
