.title-bar {
  display: flex;
  .title-bar-logo-wrap, .title-bar-icons {
    display: flex;
    flex: 1;
  }
  .title-bar-icons {
    > a {
      flex: 1;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      &.home {
        color: hotpink;
      }
      &.about {
        color: yellow;
      }
      &.contact {
        color: lightblue;
      }
    }
  }
  .title-bar-logo-wrap {
    .header-title {
      flex: 3;
      font-family: cursive;
      text-align: center;
      font-weight: bold;
    }
    .hamburger {
      flex: 1;
      color: gray;
    }
  }
  .fa-bars {
    font-size: 26px;
  }
}
