@import "../../../node_modules/font-awesome/scss/font-awesome";
@import 'header';
@import 'nav';
@import 'footer';
$fa-font-path:"../fonts";

@font-face {
  font-family: cursive;
  src: url(../fonts/deftone-stylus.ttf);
}

body {
  margin: 0;
}

a {
  color: white;
}

.wrapper {
  margin: 20px;
}
